  <hr>
	<%= comment.title %>
	<font size="-1"> -- by <%= comment.user.name %>
		<%= link_to "Reply", new_comment_url(link: @link.id, parent: comment.id) %>
		<% if current_user.id == comment.user.id %>
			<%= link_to "Edit", edit_comment_url(comment) %>
			<%= link_to "Delete", comment_url(comment), method: :delete %>
		<% end %>
	</font><br>
	<%= comment.body %>
<% unless comments_list[comment.id].count == 0 %>
	<div style="padding-left: <%=padding%>px;">
		<% comments_list[comment.id].each do |child_comment| %>
		  <%= render partial: "comment",
			  locals: { comment: child_comment,
									comments_list: comments_list,
									padding: padding + 20}
			%>
		<% end %>
	</div>
<% end %>