<!DOCTYPE html>
<html>
<head>
  <title>Reddat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @signin_page %>
	<% if logged_in? %>
		Logged In As: <%= current_user.name %> |
		<%= link_to "Sign Out", session_url, :method => :delete %>
	<% else %>
	  Not Logged In |
		<%= link_to "Sign In", new_session_url %>
	<% end %>
	--
<% end %>
<%= link_to "Users Index", users_url %> |
<%= link_to "Subs Index", subs_url %> |
<%= link_to "Links Index", links_url %>
<hr>

<% if flash[:errors] %>
	<font color="red" size="+2"><b><%= flash[:errors].join(" | ") %></b></font>
<% end %>

<%= yield %>

</body>
</html>
